<main class="main-content">
    <div class="container">
        <h2>Profile Information</h2>

        <label for="users username">Username: {{user.username}}</label>
        <p type="text" name="username" id="users username"></p>

        <label for="users usersemail">User's Email: {{user.email}}</label>
        <p type="text" name="email" id="users useremail"></p>

    </div>

    <section class="profileVids">
        <label for="Your Post">Your Posts</label>
        <p type="text" name="Your Posts" id="Your Post"></p>
        <div id="postThumbnails" class="post-thumbnails"> 
            {{#each posts}}
            <a href="/posts/{{this.id}}" target="_self">
                <img src="/{{this.thumbnail}}" alt="{{this.title}}">
                <p class="thumbnailTitle">{{this.title}}</p>
            </a>
              <form action="/posts/delete/{{this.id}}" method="post">
                <input type="hidden" name="_method" value="delete">
                <button class="btn-delete" type="submit" onclick="return confirm('Are you sure you want to delete this post?')">Delete</button>
            </form>
            {{/each}}
        </div>
    </section>
</main>