<main class="main-content">
  <video class="video-container" controls>
    <source src="/{{post.video}}" type="video/mp4" />
  </video>
  <div class="post-info">
    <h2 class="post-title">{{post.title}}</h2>
    <div class="post-author-date">
      <strong class="author">{{user.username}}</strong>
      <p class="date-posted">{{post.createdAt}}</p>
    </div>
    <p class="post-description">
      {{post.description}}
    </p>
  </div>
  <div class="comments">
    {{#each post.comments}}
    <div class="comment">
      <strong class="comment-author">{{this.author}}</strong>
      <span class="comment-date">{{this.createdAt}}</span>
      <div class="comment-text">{{this.text}}</div>
    </div>
    {{/each}}

    <form class="Comment" action="/posts/{{post.id}}" method="POST" enctype="application/x-www-form-urlencoded">

      <label for="Comment">Comment</label>
      <input type="text" name="comment" id="Comment" placeholder="Enter Comment Here">

      <input type="submit" value="Submit Comment">
    </form>
  </div>
</main>